@font-face {
    font-family: billabong;
    src: url(../fonts/billabong.ttf);
    font-weight: bold;
}
.nav-title {
    padding-left: 30px;
    margin-bottom: 30px;
    font-size: 50px;
    font-family: 'Billabong', serif; /* Use the same font-family name you defined in @font-face */
    color: black;
}
.formStyle{
    border-radius: 10px;
    border-color: black;
    margin: auto;
    width: 300px;
    height: 300px;
}