{% extends 'master.html' %}
{% load static %}
   {% block title %}
        <title>Reels</title>
    {% endblock %}
{% block content %}
<div class="nav-title">
 <h2>Instagram</h2>
</div>

<div class="fixed-sidebar col-sm-3">

    <ul>
        <li>
            <a href="{% url 'home-url' %}">
                <i class="fa fa-home fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> Home </span>
            </a>
        </li>
        <li>
            <a href="{% url 'search-url' %}">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> Search </span>
            </a>
        </li>
        <li>
            <a href="{% url 'explore-url' %}">
                <i class="fa fa-compass fa-2x" aria-hidden="true"></i><span class="side-menu-text"> Explore </span>
            </a>
        </li>
        <li>
            <a href="{% url 'reels-url' %}">
                <i class="fa fa-caret-square-o-right fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> Reels</span>
            </a>
        </li>
        <li>
            <a href="{% url 'messages-url' %}">
                <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i><span class="side-menu-text"> Messages </span>
            </a>
        </li>
        <li>
            <a href="{% url 'notifications-url' %}">
                <i class="fa fa-heart-o fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> Notifications</span>
            </a>
        </li>
        <li>
            <a href="{% url 'create-url' %}">
                <i class="fa fa-plus-square-o fa-2x" aria-hidden="true"></i> <span class="side-menu-text "> Create</span>
            </a>
        </li>
        <li>
            <a href="{% url 'profile-url' %}">
                <i class="fa fa-user fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> Profile</span>
            </a>
        </li>
        <li>
            <a href="{% url 'more-url' %}">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i> <span class="side-menu-text"> More</span>
            </a>
        </li>

    </ul>
</div>
<div class="vertical-line"></div>

{% endblock %}